In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('./google_dev_channel_vid_details.csv')

In [39]:
df.shape

(5744, 6)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5744 entries, 0 to 5743
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   vid_id    5744 non-null   object
 1   title     5744 non-null   object
 2   uploaded  5744 non-null   object
 3   views     5738 non-null   object
 4   likes     5732 non-null   float64
 5   comments  5741 non-null   float64
dtypes: float64(2), object(4)
memory usage: 269.4+ KB

In [41]:
# Drop rows where the city name matches the regex: drop rows where 'views' value is a date
regex = r"-" #dates contain this character
df2 = df.loc[~df["views"].str.contains(regex, na=False)]

In [42]:
df2.shape

(5663, 6)

In [43]:
#drop rows nan values in views column
df2 = df2.dropna(subset=["views"])

In [44]:
df2.shape

(5657, 6)

In [48]:
# Convert the column to int type
df2.loc[0:len(df2),'views'] = df2['views'].astype("int", )#ignore nan values

In [50]:
df2.to_csv('./google_dev_vid_details_cleaned.csv', index=False)

In [49]:
df2.dtypes

vid_id       object
title        object
uploaded     object
views        object
likes       float64
comments    float64
dtype: object